body {
    background-color: lightgoldenrodyellow;
    font-family: cursive;
}

img {
    position: relative;
    border: solid brown 5px;
    margin-top: 20px;
}

header, footer {
    background-color: brown;
    color: lightgray;
}

#button {
    background-color: brown;
    color: lightgray;
}

form {
    position: relative;
    left: 40px;

}

figcaption {
    margin: auto;
}

.mainsection {
    background-color: lightsalmon;
}